# Install packages

In [3]:
# Install your required packages here
!pip install --user pandas numpy matplotlib sklearn

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [4]:
# Mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import numpy as np
import pandas as pd
import sklearn
import gzip
import json
from tqdm import tqdm
import os
from collections import Counter
from datetime import datetime
import math
tqdm.pandas() #for progres_apply etc.

In [6]:
#read file line-by-line and parse json, returns dataframe
def parse_json(filename_gzipped_python_json, read_max=-1):
  #read gzipped content
  f=gzip.open(filename_gzipped_python_json,'r')
  
  #parse json
  parse_data = []
  for line in tqdm(f): #tqdm is for showing progress bar, always good when processing large amounts of data
    line = line.decode('utf-8')
    line = line.replace('true','True') #difference json/python
    line = line.replace('false','False')
    parsed_result = eval(line) #load python nested datastructure
    parse_data.append(parsed_result)
    if read_max !=-1 and len(parse_data) > read_max:
      print(f'Break reading after {read_max} records')
      break
  print(f"Reading {len(parse_data)} rows.")

  #create dataframe
  df= pd.DataFrame.from_dict(parse_data)
  return df

# 1. Load Goodreads data

In [7]:
goodreads_path = '/content/drive/MyDrive/AI Project/datasets/Goodreads/'
books = 'goodreads_books_comics_graphic.json.gz'
interactions = 'goodreads_interactions_comics_graphic.json.gz'
reviews = 'goodreads_reviews_comics_graphic.json.gz'

In [8]:
for dataset in [books, interactions, reviews]:
  print(f"----- {dataset}-----")
  size = os.path.getsize(goodreads_path + dataset) 
  print(f'Size of file is {size / 1000000}MB')
  #df = pd.read_json(goodreads_path + dataset, lines=True, nrows=1000)
  df = parse_json(goodreads_path + dataset, read_max=100000)
  pd.set_option('display.max_colwidth', None)
  display(df.head(5))

----- goodreads_books_comics_graphic.json.gz-----
Size of file is 68.39151MB

89411it [01:03, 1416.75it/s]

Reading 89411 rows.

         isbn  ...                                                                             title_without_series
0              ...                                                                            The Switchblade Mamma
1  2205073346  ...                                                                                          Cruelle
2              ...  Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)
3              ...                          Bounty Hunter 4/3: My Life in Combat from Marine Scout Sniper to MARSOC
4  0930289765  ...                                                                        Superman Archives, Vol. 2

[5 rows x 29 columns]

----- goodreads_interactions_comics_graphic.json.gz-----
Size of file is 386.854954MB

100000it [00:06, 15327.22it/s]

Break reading after 100000 records
Reading 100001 rows.

                            user_id   book_id  ... read_at  started_at
0  8842281e1d1347389f2ab93d60773d4d    836610  ...
1  8842281e1d1347389f2ab93d60773d4d   7648967  ...
2  8842281e1d1347389f2ab93d60773d4d  15704307  ...
3  8842281e1d1347389f2ab93d60773d4d   6902644  ...
4  8842281e1d1347389f2ab93d60773d4d   9844623  ...

[5 rows x 10 columns]

----- goodreads_reviews_comics_graphic.json.gz-----
Size of file is 146.582543MB

100000it [00:07, 13815.90it/s]

Break reading after 100000 records
Reading 100001 rows.

                            user_id   book_id  ... n_votes  n_comments
0  dc3763cdb9b2cae805882878eebb6a32  18471619  ...       0           0
1  bafc2d50014200cda7cb2b6acd60cd73   6315584  ...       0           0
2  bafc2d50014200cda7cb2b6acd60cd73  29847729  ...       0           0
3  bafc2d50014200cda7cb2b6acd60cd73  18454118  ...       1           0
4  bafc2d50014200cda7cb2b6acd60cd73   2239435  ...       0           0

[5 rows x 11 columns]

# 2. Clean data
Example of:
- Merging two files
- tqdm pd.progress_apply
- Example of non-destructive transforms, i.e. keep original data and make re-running cell works
- Parsing dates

In [9]:
#books
books_df = pd.read_json(goodreads_path + books, lines=True)
books_df = books_df[['book_id',	'title','authors',	'publisher',	'num_pages',	'publication_year']]
display(books_df.head(5))

    book_id  ... publication_year
0  25742454  ...
1  30128855  ...             2016
2  13571772  ...             2012
3  35452242  ...
4    707611  ...             1997

[5 rows x 6 columns]

In [10]:
#get author names (authors metadata is an additional dowload from goodreads)
authors = '/metadata/' + 'goodreads_book_authors.json.gz'
authors_df =  pd.read_json(goodreads_path + authors, lines=True) #829.529 authors (also non-graphic and comics)
display(authors_df.head(5))

   average_rating  author_id  ...              name ratings_count
0            3.98     604031  ...  Ronald J. Fields            49
1            4.08     626222  ...     Anita Diamant        546796
2            3.92      10333  ...    Barbara Hambly        122118
3            3.68       9212  ...   Jennifer Weiner        888522
4            3.82     149918  ...     Nigel Pennick          1740

[5 rows x 5 columns]

In [12]:
#merge, but inline for each row, since each book has many authors
author_id_to_name = {}
for idx, row in tqdm(authors_df.iterrows(), total=authors_df.shape[0]):
  author_id_to_name[row['author_id']] = row['name']
display(books_df.head(5))
#important: type of author is np.int64
books_df['author_name'] = books_df['authors'].apply(lambda authors_dct_lst: author_id_to_name.get(np.int64(authors_dct_lst[0]['author_id'])))
display(books_df.head(5))

100%|██████████| 829529/829529 [01:16<00:00, 10904.51it/s]

    book_id  ... publication_year
0  25742454  ...
1  30128855  ...             2016
2  13571772  ...             2012
3  35452242  ...
4    707611  ...             1997

[5 rows x 6 columns]

    book_id  ...             author_name
0  25742454  ...       Lindsey Schussman
1  30128855  ...  Florence Dupre la Tour
2  13571772  ...             Ed Brubaker
3  35452242  ...           Jason Delgado
4    707611  ...            Jerry Siegel

[5 rows x 7 columns]

In [13]:
#interactions
#wc -l interactions is 7.347.630 
#sample first 500.000 interactions
interactions_df = parse_json(goodreads_path + interactions, read_max=500000) #Note: RAM issue if loading with pd.read_json, no issue with parse_json

500000it [00:21, 23651.48it/s]

Break reading after 500000 records
Reading 500001 rows.

In [14]:
#1) parse date 
interactions_df_new = interactions_df[['user_id', 'book_id', 'rating', 'date_updated']]
format_str = '%a %b %d %H:%M:%S %z %Y' #see https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior
#test: datetime_object = datetime.strptime('Fri Jun 21 10:25:05 -0700 2013', format_str) 
interactions_df_new['date_updated'] = interactions_df_new['date_updated'].progress_apply(lambda s: np.datetime64(datetime.strptime(s,format_str)))

#2) sort on user_id, then date
interactions_df_new = interactions_df_new.sort_values(by=['user_id', 'date_updated'], ascending=[True,True])
display(interactions_df_new.head(20))

  0%|          | 0/500001 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  """
100%|██████████| 500001/500001 [00:14<00:00, 34483.69it/s]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                                 user_id   book_id  rating        date_updated
496200  00153d136ac254437511fad5e10e246d   7619292       3 2012-08-30 18:53:39
496199  00153d136ac254437511fad5e10e246d  29396738       0 2017-08-07 10:40:09
350064  0018ce6296baeccf95c3502deeff0600    472331       5 2012-08-05 16:26:00
350062  0018ce6296baeccf95c3502deeff0600   3058907       4 2012-08-05 20:11:48
350061  0018ce6296baeccf95c3502deeff0600   4280231       4 2012-08-05 20:11:52
350059  0018ce6296baeccf95c3502deeff0600  11470711       5 2012-08-05 20:14:57
350058  0018ce6296baeccf95c3502deeff0600    844355       4 2012-08-05 20:19:32
350057  0018ce6296baeccf95c3502deeff0600   1568491       4 2012-08-05 20:19:39
350056  0018ce6296baeccf95c3502deeff0600     23754       4 2012-08-09 10:53:26
350063  0018ce6296baeccf95c3502deeff0600  13480845       5 2012-08-15 11:26:40
350060  0018ce6296baeccf95c3502deeff0600   3887304       5 2012-10-10 10:59:19
350055  0018ce6296baeccf95c3502deeff0600  12079555       3 2015-02-07 12:25:49
350054  0018ce6296baeccf95c3502deeff0600  18624024       4 2015-02-15 13:37:12
350053  0018ce6296baeccf95c3502deeff0600   5850806       0 2015-12-31 23:38:04
350052  0018ce6296baeccf95c3502deeff0600  24819813       0 2016-02-11 17:24:43
350051  0018ce6296baeccf95c3502deeff0600  29767310       4 2016-05-26 10:59:59
350050  0018ce6296baeccf95c3502deeff0600  20906789       0 2016-05-26 21:27:53
350049  0018ce6296baeccf95c3502deeff0600  20702057       0 2016-11-04 13:20:03
444508  0021909de18ab01ec27517ea8dc0aa93     15719       0 2015-04-05 18:03:44
444507  0021909de18ab01ec27517ea8dc0aa93     25179       0 2015-04-05 18:04:01

#3. Create consecutive ID's
- Working with numpy types != python types
- Mapping ID's to consecutive integgers for matrix operations (and scipy sparse matrices, see https://docs.scipy.org/doc/scipy/reference/sparse.html)

In [15]:
#change type book_id to numpy.int64
display(interactions_df_new.dtypes)
interactions_df_new['book_id'] = interactions_df_new['book_id'].astype('int64')
display(interactions_df_new.dtypes)

user_id                 object
book_id                 object
rating                   int64
date_updated    datetime64[ns]
dtype: object

user_id                 object
book_id                  int64
rating                   int64
date_updated    datetime64[ns]
dtype: object

In [16]:
#1) convert user uuid to consecutive integer ID's 
dct = {}
def map_to_consecutive_id(uuid):
  if uuid in dct:
    return dct[uuid]
  else:
    id = len(dct)
    dct[uuid] = id
    return id
interactions_df_new['user_id_int'] = interactions_df_new['user_id'].progress_apply(map_to_consecutive_id)

#2) convert book_id to to consecutive integer ID's 
dct.clear()
books_df['book_id_int'] = books_df['book_id'].progress_apply(map_to_consecutive_id)
interactions_df_new['book_id_int'] = interactions_df_new['book_id'].progress_apply(lambda book_id: dct.get(book_id,-1))
display(books_df.head(10))
display(interactions_df_new.head(10))

100%|██████████| 500001/500001 [00:00<00:00, 696562.32it/s]
100%|██████████| 89411/89411 [00:00<00:00, 513964.70it/s]
100%|██████████| 500001/500001 [00:00<00:00, 532106.90it/s]

    book_id  ... book_id_int
0  25742454  ...           0
1  30128855  ...           1
2  13571772  ...           2
3  35452242  ...           3
4    707611  ...           4
5   2250580  ...           5
6  27036536  ...           6
7  27036537  ...           7
8  27036538  ...           8
9  27036539  ...           9

[10 rows x 8 columns]

                                 user_id   book_id  ...  user_id_int book_id_int
496200  00153d136ac254437511fad5e10e246d   7619292  ...            0       73347
496199  00153d136ac254437511fad5e10e246d  29396738  ...            0        2624
350064  0018ce6296baeccf95c3502deeff0600    472331  ...            1        2749
350062  0018ce6296baeccf95c3502deeff0600   3058907  ...            1       55521
350061  0018ce6296baeccf95c3502deeff0600   4280231  ...            1       59877
350059  0018ce6296baeccf95c3502deeff0600  11470711  ...            1       20568
350058  0018ce6296baeccf95c3502deeff0600    844355  ...            1       22652
350057  0018ce6296baeccf95c3502deeff0600   1568491  ...            1       88449
350056  0018ce6296baeccf95c3502deeff0600     23754  ...            1       85188
350063  0018ce6296baeccf95c3502deeff0600  13480845  ...            1       24277

[10 rows x 6 columns]

# 4. Pre-process interactions
- Drop reconsumption items
- Remove items with fewer than x interactions
- Remove users with fewer than x interactions

In [17]:
def preprocess_classic(df, minsup=5):
    """
    Goal: - Remove reconsumption items
          - Remove items that have less than minsup interactions 
          - Remove users that have less than minsup interactions 
               
    :input df: Dataframe containing user_id, item_id and time
    """
    before = df.shape[0]
    #drop reconsumption items
    df = df.drop_duplicates(subset=["user_id","item_id"])
    print("After drop_duplicates (reconsumption items): {} -> {}".format(before,df.shape[0]))
    #compute item/user counts
    g1 = df.groupby('item_id', as_index=False)['user_id'].size()
    g1 = g1.rename({'size': 'count_item'}, axis='columns')
    g2 = df.groupby('user_id', as_index=False)['item_id'].size()
    g2 = g2.rename({'size': 'count_user'}, axis='columns')
    df = pd.merge(df, g1, how='left', on=['item_id'])
    df = pd.merge(df, g2, how='left', on=['user_id'])
    display(df.head(5))
    #drop items occurring less than minsup times
    before = df.shape[0]
    df = df[df['count_item'] >= minsup]
    print("After dropping items with less than {} interactions: {} -> {}".format(minsup, before,df.shape[0]))
    before = df.shape[0]
    #drop users with less then minsup items in history
    df = df[df['count_user'] >= minsup]
    df = df[['user_id','item_id','datetime']]
    print("After dropping users with less than {} interactions: {} -> {}".format(minsup, before,df.shape[0]))
    return df

#Remark: ignoring rating, considering all reviews as implicit possitive feedback
#print number of users and items
interactions_df_processed = interactions_df_new[['user_id_int','book_id_int','date_updated']]
interactions_df_processed = interactions_df_processed.rename(columns={"user_id_int": "user_id", "book_id_int": "item_id", "date_updated": "datetime"})
print(f"number of unique users: {interactions_df_processed['user_id'].nunique()}")
print(f"number of unique items: {interactions_df_processed['item_id'].nunique()}")
interactions_df_processed = preprocess_classic(interactions_df_processed)
display(interactions_df_processed.head(5))
print(f"number of unique users: {interactions_df_processed['user_id'].nunique()}")
print(f"number of unique items: {interactions_df_processed['item_id'].nunique()}")

number of unique users: 18246
number of unique items: 53635
After drop_duplicates (reconsumption items): 500001 -> 500001

   user_id  item_id            datetime  count_item  count_user
0        0    73347 2012-08-30 18:53:39         305           2
1        0     2624 2017-08-07 10:40:09         501           2
2        1     2749 2012-08-05 16:26:00        2900          16
3        1    55521 2012-08-05 20:11:48          44          16
4        1    59877 2012-08-05 20:11:52          45          16

After dropping items with less than 5 interactions: 500001 -> 433879
After dropping users with less than 5 interactions: 433879 -> 417597

   user_id  item_id            datetime
2        1     2749 2012-08-05 16:26:00
3        1    55521 2012-08-05 20:11:48
4        1    59877 2012-08-05 20:11:52
5        1    20568 2012-08-05 20:14:57
6        1    22652 2012-08-05 20:19:32

number of unique users: 8924
number of unique items: 17714

# 5. Create train/test split
Different options:
- **Time-based split**, i.e. split interactions before/after certain date. Keep all users with both training and test interactions for evaluations. Repeat for different train/test window, i.e. repeat for a number of key dates.
- **Session-based split**, i.e. split and keep first $x$ interactions for training and $|I_u| - x$  for testing, where $I_u = {i_1,\ldots,i_k}$ represents the user's history sorted on time
- **Random**, i.e. take $x$ random items for training and $|I_u| -x$ for testing
- **Leave-one-out**, i.e. take last (or random) item for testing

Additionaly, use techniques such as cross-validation and create multiple train/test splits and report both average and standard deviation.

In [18]:
#Session-based split:
sessions_df = interactions_df_processed.groupby(by='user_id', as_index=False)[['item_id','datetime']].agg(list)
display(sessions_df.head(10))

def split(items, percentage_train):
  no_train_items = math.floor(len(items) * percentage_train)
  return items[0:no_train_items], items[no_train_items:]

percentage_train = 0.8
sessions_df['history'] = sessions_df['item_id'].apply(lambda items: split(items, percentage_train)[0])
sessions_df['future'] = sessions_df['item_id'].apply(lambda items: split(items, percentage_train)[1])
pd.set_option("display.max_colwidth", None)
display(sessions_df.head(10))

   user_id  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   datetime
0        1  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           [2012-08-05 16:26:00, 2012-08-05 20:11:48, 2012-08-05 20:11:52, 2012-08-05 20:14:57, 2012-08-05 20:19:32, 2012-08-05 20:19:39, 2012-08-09 10:53:26, 2012-08-15 11:26:40, 2012-10-10 10:59:19, 2015-02-07 12:25:49, 2015-02-15 13:37:12, 2015-12-31 23:38:04, 2016-02-11 17:24:43, 2016-05-26 10:59:59, 2016-05-26 21:27:53, 2016-11-04 13:20:03]
1        2  ...  [2015-04-05 18:03:44, 2015-04-05 18:04:01, 2015-04-05 18:04:35, 2015-04-05 18:04:39, 2015-04-05 18:05:09, 2015-04-05 18:05:14, 2015-04-13 05:32:51, 2015-04-13 05:32:53, 2015-04-29 05:33:11, 2015-04-29 05:50:37, 2015-11-07 08:24:58, 2015-12-06 05:24:14, 2015-12-06 21:28:40, 2016-02-08 21:27:53, 2016-02-08 21:27:57, 2016-02-08 21:27:59, 2016-02-12 21:02:50, 2016-04-02 00:41:27, 2016-04-16 23:06:50, 2016-04-16 23:10:19, 2016-06-14 21:16:39, 2016-07-03 11:38:34, 2016-07-03 11:38:42, 2016-07-09 05:57:24, 2016-07-09 05:58:39, 2016-07-09 05:58:59, 2016-07-09 05:59:27, 2016-07-09 05:59:30, 2016-07-09 05:59:34, 2016-07-09 05:59:43, 2016-07-09 06:00:02, 2016-07-09 06:02:07, 2016-07-09 06:02:31, 2016-07-09 06:03:36, 2016-07-09 06:03:39, 2016-10-08 09:09:39, 2016-10-08 09:13:12, 2016-10-08 09:36:06, 2016-10-08 12:28:34, 2016-10-08 15:00:34, 2016-10-08 15:01:37, 2016-10-08 15:19:57, 2016-10-08 18:08:33, 2016-10-08 19:03:59, 2016-10-09 11:00:58, 2016-10-09 11:01:22, 2016-10-09 11:01:31, 2016-10-09 11:01:47, 2016-10-09 11:02:06, 2016-10-09 11:02:55, 2016-10-09 11:03:23, 2016-10-09 11:04:06, 2016-10-09 11:04:33, 2016-10-09 11:04:54, 2016-10-09 14:13:23, 2016-10-09 14:13:46, 2016-10-09 14:40:39, 2016-10-09 16:21:28, 2016-10-09 17:01:11, 2016-10-09 20:25:23, 2016-10-09 20:25:37, 2016-10-09 20:26:00, 2016-10-09 21:35:36, 2016-10-11 06:19:02, 2016-10-11 06:19:41, 2016-10-11 06:20:05, 2016-10-11 06:20:53, 2016-10-11 06:21:37, 2016-10-11 13:30:21, 2016-10-11 13:45:33, 2016-10-11 13:45:44, 2016-10-11 13:46:15, 2016-10-11 13:46:38, 2016-10-11 17:49:31, 2016-10-11 21:01:06, 2016-10-11 21:01:43, 2016-10-11 21:02:29, 2016-10-11 21:02:55, 2016-10-11 21:03:37, 2016-10-12 23:11:50, 2016-10-12 23:13:14, 2016-10-12 23:13:34, 2016-10-12 23:13:52, 2016-10-12 23:14:09, 2016-10-12 23:14:33, 2016-10-14 06:47:51, 2016-10-14 06:48:16, 2016-10-14 22:54:56, 2016-10-14 22:55:38, 2016-10-14 22:56:04, 2016-10-14 22:56:54, 2016-10-14 22:57:09, 2016-10-14 22:57:26, 2016-10-14 23:00:50, 2016-10-14 23:01:12, 2016-10-14 23:01:32, 2016-10-15 09:02:28, 2016-10-15 09:03:11, 2016-10-16 03:27:56, 2016-10-16 03:37:25, ...]
2        3  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 [2013-02-11 03:48:55, 2013-12-25 19:43:10, 2013-12-30 04:33:21, 2013-12-30 04:33:27, 2013-12-30 04:33:33, 2013-12-30 04:33:37, 2013-12-30 04:33:41, 2014-03-04 16:08:19, 2014-05-20 00:43:21, 2014-05-20 00:43:55, 2014-05-20 21:09:02, 2014-06-11 15:46:48, 2014-07-23 18:52:51, 2014-08-27 06:00:40, 2015-10-06 00:50:46, 2015-10-06 00:53:18, 2015-10-06 00:53:20, 2015-10-06 00:53:22, 2015-10-06 00:53:23, 2015-10-06 00:53:25, 2015-10-07 18:51:57, 2016-01-13 02:26:46, 2016-11-01 02:52:41, 2017-01-16 03:14:34, 2017-01-16 18:05:47, 2017-01-16 21:22:31, 2017-01-20 03:00:43, 2017-01-20 03:00:59, 2017-01-20 03:01:07, 2017-01-20 03:01:10, 2017-01-20 03:01:21, 2017-01-23 01:01:25, 2017-07-03 18:40:38, 2017-07-03 19:32:33]
3        4  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  [2013-04-01 23:54:17, 2013-04-01 23:55:34, 2015-04-23 23:59:06, 2016-03-28 20:15:38, 2016-03-28 20:15:50]
4        7  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  [2012-07-09 17:41:56, 2012-07-09 17:41:58, 2012-07-09 17:42:16, 2012-07-09 17:42:18, 2016-03-22 17:10:25]
5        8  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   [2015-08-13 23:45:26, 2017-05-02 23:33:45, 2017-05-03 21:49:47, 2017-05-04 01:24:34, 2017-05-13 18:18:21, 2017-05-15 12:26:32, 2017-05-17 20:48:37, 2017-05-24 21:07:48, 2017-05-30 20:13:33, 2017-05-31 14:07:52, 2017-06-06 19:54:22, 2017-06-11 00:17:56, 2017-06-19 03:02:22, 2017-07-06 16:36:14, 2017-07-10 17:55:24, 2017-07-26 20:09:41, 2017-07-27 23:25:55, 2017-07-27 23:27:01, 2017-07-27 23:27:52, 2017-08-02 14:50:56, 2017-08-05 03:58:12, 2017-08-05 21:00:29, 2017-08-06 13:44:23, 2017-08-09 17:13:27, 2017-08-12 07:18:05, 2017-08-19 14:28:46, 2017-08-28 15:37:12, 2017-08-29 00:53:26, 2017-08-30 18:15:43, 2017-08-30 18:16:34, 2017-09-06 02:47:05, 2017-09-06 19:04:36, 2017-09-19 20:53:40, 2017-09-25 19:21:08, 2017-09-26 21:59:11, 2017-09-28 23:33:15, 2017-10-08 21:49:35, 2017-10-08 21:50:10, 2017-10-08 21:51:19, 2017-10-14 20:07:30]
6        9  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    [2012-08-05 22:15:47, 2012-08-05 22:15:48, 2012-08-05 22:15:55, 2012-08-05 22:43:00, 2015-08-04 19:32:07, 2015-08-17 13:27:27, 2015-08-24 15:47:51, 2016-02-25 15:15:01, 2016-04-21 16:37:57, 2016-07-13 02:22:08, 2016-12-27 15:46:21]
7       13  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [2015-08-05 13:08:24, 2016-02-22 04:33:55, 2016-03-28 02:53:07, 2016-05-03 23:56:11, 2016-05-13 21:12:42, 2016-05-17 02:22:45, 2016-12-19 21:11:32, 2016-12-19 21:38:21, 2017-01-25 02:31:36]

   user_id  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               future
0        1  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           [1138, 34891, 4357, 82031]
1        2  ...  [1286, 38245, 47059, 77648, 64113, 9313, 37629, 75288, 13801, 7600, 88591, 68731, 24127, 46371, 13870, 1704, 48629, 18740, 75446, 17850, 27227, 12843, 38250, 19835, 64142, 80844, 85224, 28876, 19436, 16190, 53821, 16189, 53820, 50712, 70321, 66616, 73661, 21978, 76188, 5817, 50229, 33366, 81381, 86564, 58039, 42933, 55183, 27079, 1331, 42215, 78975, 461, 65242, 42470, 72184, 8966, 8918, 14448, 81368, 49316, 32565, 43343, 83816, 51677, 71967, 10081, 39584, 12593, 70230, 25238, 62434, 47633, 50243, 50241, 68949, 788, 74500, 80213, 64622, 24387, 3268, 61004, 80050, 45931, 80156, 25863, 70087, 52164, 48580, 48587, 57767, 57771, 57769, 61575, 36372, 57770, 36373, 57768, 64581, 8759, ...]
2        3  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      [25189, 57748, 2946, 12843, 42538, 79275, 3495]
3        4  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [74822]
4        7  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [86871]
5        8  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               [35360, 31294, 65584, 14587, 31861, 27969, 371, 57498]
6        9  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                [66277, 21382, 30149]
7       13  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       [11640, 35229]
8       14  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             [88873, 46010, 87919, 5043, 2020, 56510]
9       15  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                [76190, 76189, 49712]

[10 rows x 5 columns]

# 6. Evaluate quantitatively
Options are:
- **Hitrate@k**, i.e. percentage of users where top-$k$ recommendations is relevant 
- **Recall@k**, i.e. percentage of top-$k$ recommendation that are relevant
- **NDCG@k**, i.e. like recall but rank of top-$k$ recommendation is weighted

Compare using relative gain, i.e. recall@10 from 10% tot 20% is a 100% gain (20-10/10 * 100)

In [37]:
import scipy.sparse

#Create scipy csr matrix
def create_sparse_matrix(sessions_df, column='history', shape=None):
  #flatten
  user_ids = []
  item_ids = []
  for idx, row in sessions_df.iterrows():
    items = row[column]
    user = row['user_id']
    user_ids.extend([user] * len(items))
    item_ids.extend(items)
  #create csr matrix
  values = np.ones(len(user_ids))
  matrix = scipy.sparse.csr_matrix((values, (user_ids, item_ids)), shape=shape, dtype=np.int32)
  return matrix


shape = (interactions_df_processed['user_id'].max() +1,  interactions_df_processed['item_id'].max() +1)
train_x = create_sparse_matrix(sessions_df, column='history', shape=shape)
y_true = create_sparse_matrix(sessions_df, column='future', shape=shape)
print(train_x)

  (1, 2749)	1
  (1, 20568)	1
  (1, 22625)	1
  (1, 22652)	1
  (1, 24277)	1
  (1, 38290)	1
  (1, 39322)	1
  (1, 43962)	1
  (1, 55521)	1
  (1, 59877)	1
  (1, 85188)	1
  (1, 88449)	1
  (2, 267)	1
  (2, 328)	1
  (2, 469)	1
  (2, 511)	1
  (2, 960)	1
  (2, 1027)	1
  (2, 1420)	1
  (2, 1731)	1
  (2, 1789)	1
  (2, 1792)	1
  (2, 2176)	1
  (2, 2177)	1
  (2, 2227)	1
  :	:
  (18245, 71524)	1
  (18245, 72832)	1
  (18245, 73166)	1
  (18245, 73298)	1
  (18245, 73683)	1
  (18245, 74024)	1
  (18245, 74125)	1
  (18245, 74609)	1
  (18245, 75565)	1
  (18245, 75837)	1
  (18245, 76189)	1
  (18245, 77069)	1
  (18245, 77451)	1
  (18245, 78741)	1
  (18245, 79059)	1
  (18245, 79533)	1
  (18245, 82420)	1
  (18245, 84656)	1
  (18245, 84878)	1
  (18245, 85011)	1
  (18245, 85188)	1
  (18245, 86364)	1
  (18245, 86762)	1
  (18245, 86763)	1
  (18245, 87367)	1

In [44]:
#popularity recommender
class Popularity():
    def __init__(self, K=10):
        self.K = K

    def fit(self, X):
        items = list(X.nonzero()[1])
        sorted_scores = Counter(items).most_common()
        self.sorted_scores_ = [
            (item, score / sorted_scores[0][1]) for item, score in sorted_scores
        ]

    def predict(self, X):
        items, values = zip(*self.sorted_scores_[: self.K])

        users = set(X.nonzero()[0])

        U, I, V = [], [], []

        for user in users:
            U.extend([user] * self.K)
            I.extend(items)
            V.extend(values)

        score_matrix = scipy.sparse.csr_matrix((V, (U, I)), shape=X.shape)
        return score_matrix

K = 20
pop = Popularity(K=K)
pop.fit(train_x)
y_pred = pop.predict(train_x)
print(pred_y)

  (1, 2749)	1.0
  (1, 3495)	0.5123400365630713
  (1, 7453)	0.5287934186471663
  (1, 8570)	0.5269652650822669
  (1, 12857)	0.40036563071297987
  (1, 31264)	0.6773308957952467
  (1, 33784)	0.4218464351005484
  (1, 41468)	0.4076782449725777
  (1, 75565)	0.4428702010968921
  (1, 85188)	0.6672760511882998
  (2, 2749)	1.0
  (2, 3495)	0.5123400365630713
  (2, 7453)	0.5287934186471663
  (2, 8570)	0.5269652650822669
  (2, 12857)	0.40036563071297987
  (2, 31264)	0.6773308957952467
  (2, 33784)	0.4218464351005484
  (2, 41468)	0.4076782449725777
  (2, 75565)	0.4428702010968921
  (2, 85188)	0.6672760511882998
  (3, 2749)	1.0
  (3, 3495)	0.5123400365630713
  (3, 7453)	0.5287934186471663
  (3, 8570)	0.5269652650822669
  (3, 12857)	0.40036563071297987
  :	:
  (18243, 31264)	0.6773308957952467
  (18243, 33784)	0.4218464351005484
  (18243, 41468)	0.4076782449725777
  (18243, 75565)	0.4428702010968921
  (18243, 85188)	0.6672760511882998
  (18244, 2749)	1.0
  (18244, 3495)	0.5123400365630713
  (18244, 7453)	0.5287934186471663
  (18244, 8570)	0.5269652650822669
  (18244, 12857)	0.40036563071297987
  (18244, 31264)	0.6773308957952467
  (18244, 33784)	0.4218464351005484
  (18244, 41468)	0.4076782449725777
  (18244, 75565)	0.4428702010968921
  (18244, 85188)	0.6672760511882998
  (18245, 2749)	1.0
  (18245, 3495)	0.5123400365630713
  (18245, 7453)	0.5287934186471663
  (18245, 8570)	0.5269652650822669
  (18245, 12857)	0.40036563071297987
  (18245, 31264)	0.6773308957952467
  (18245, 33784)	0.4218464351005484
  (18245, 41468)	0.4076782449725777
  (18245, 75565)	0.4428702010968921
  (18245, 85188)	0.6672760511882998

In [45]:
#Evaluate recall@k
#Do elementwise multiplication of top K predicts and true interactions
def sparse_divide_nonzero(a: scipy.sparse.csr_matrix, b: scipy.sparse.csr_matrix) -> scipy.sparse.csr_matrix:
    return a.multiply(sparse_inverse_nonzero(b))

def sparse_inverse_nonzero(a: scipy.sparse.csr_matrix) -> scipy.sparse.csr_matrix:
    inv_a = a.copy()
    inv_a.data = 1 / inv_a.data
    return inv_a

scores = scipy.sparse.lil_matrix(y_pred.shape)
scores[y_pred.multiply(y_true).astype(np.bool)] = 1
scores = scores.tocsr()
scores = sparse_divide_nonzero(scores, scipy.sparse.csr_matrix(y_true.sum(axis=1))).sum(axis=1)
print("recall @ {}: {:.4f}".format(K, scores.mean()))

recall @ 20: 0.0369

# 7. Evaluate qualitatively
Options are:
- **By example**, i.e. show history and recommendations for user, including item metadata and (if possible) an explanation (i.e., because you watched $i_x$ we recommend $i_y$)
- **Plot**, i.e. show plot that summarises recommendations, such as classic plots (i.e. distribution of popular items recommendations, recall versus user session length etc.) 
- **Advanced plots**, i.e. network visualisation or **sankey-diagram** ( https://plotly.com/python/sankey-diagram/)
- **Transparent surrogate model**, i.e. summarise recommender with a decision tree-model fitted on top of the recommendations, i.e. $\%x$ of recommendations are items viewed more than 10 times, $\%y$ of recommendations are viewed more than 10 times and in category $c_1$, etc.

In [ ]:
#Display popular items